<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">About Our Company</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Our Mission</h5>
            <p>Our mission is to provide the best products and services to our customers. We strive to exceed
                customer expectations and deliver exceptional value.</p>
            <h5 class="font-weight-semi-bold mb-3">Our Vision</h5>
            <p>Our vision is to be the leading provider of high-quality products and services in the industry. We
                aim to innovate and continuously improve to meet the changing needs of our customers.</p>
            <h5 class="font-weight-semi-bold mb-3">Our Team</h5>
            <p>Cao Nguyễn Tuấn Anh - 21120197</p>
            <p>Nguyễn Tấn Hùng - 21120460</p>
            <p>Nguyễn Anh Hào - 22120097</p>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
            <p>Justo sed diam ut sed amet duo amet lorem amet stet sea ipsum, sed duo amet et. Est elitr dolor elitr
                erat sit sit. Dolor diam et erat clita ipsum justo sed.</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Store 1</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="d-flex flex-column">
                <h5 class="font-weight-semi-bold mb-3">Store 2</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->