<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h5>User Profile</h5>
                </div>
                <div class="card-body text-center">
                    <img src="/img/default-avatar.png" alt="Avatar" class="rounded-circle mb-3" style="width: 100px; height: 100px;">
                    <h6 class="card-title">{{user.username}}</h6>
                    <p class="card-text text-muted">{{user.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
