<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="bg-light p-5">
                <h4 class="font-weight-semi-bold mb-4">Reset Password</h4>
                {{#if successMessage}}
                <div class="alert alert-success text-center">
                    {{{successMessage}}}
                </div>
                {{/if}}
                <form method="POST" action="/user/reset-password/{{token}}">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>