<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="bg-light p-5">
                <h4 class="font-weight-semi-bold mb-4">Reset Password</h4>
                {{#if successMessage}}
                <div class="alert alert-success text-center">
                    {{{successMessage}}}
                </div>
                {{/if}}
                <form id="reset-password-form" method="POST" action="/user/reset-password/{{token}}">
                    <!-- New Password Field -->
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="New Password" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary toggle-password" type="button">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <small id="password-error" class="text-danger"></small>
                    </div>

                    <!-- Confirm Password Field -->
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                placeholder="Confirm Password" required>
                        </div>
                        <small id="confirmPassword-error" class="text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/reset-password.js"></script>